name: Build Keyboard Firmware

on:
  workflow_dispatch:
# on:
#  push:
    branches:
      - "**"

jobs:
  build:
    uses: sekigon-gonnoc/vial-keymap-c-editor/.github/workflows/build-keymap.yml@main
